*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue:#2A4BFF;
    --white:#F7F9FC;
    --pink :#FF4D67;
    --gray:#8C8C8C;
    --text:#111111;
}

.navigation{
    background-color: var(--blue) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navigation nav{
    display: flex;
    align-items: center;
}

.navigation nav a{
    color: white;
     padding: 10px;
     font-size:20px;

}
.navigation img{
   height: 90px;
}

.navigation nav img{
  width: 50px;
  height: 50px;  
}